In [ ]:
;'';'';'';'';'';'';'';'';'';'';'';'';'';''
Num_Acc:Num_Acc,
 Adresse_postale:adr,
 Commune:com,
 Conditions_atmosphériques:atm,
 Département:dep,
 Intersection:int,
 Jour:jour,
 Localisation:agg,
 Long:long,
 Lumière:lum,
 an	:an,
 hrmn:hrmn,
 lat:lat,
 mois:mois,
 Type_de_collision:col

In [ ]:
'Adresse_postale', 'Commune', 'Conditions_atmosphériques', 'Département', 'Intersection', 'Jour', 'Localisation', 'Long', 'Lumière', 'an'	, 'hrmn', 'lat', 'mois', 'Type_de_collision'

In [ ]:
CALL apoc.load.csv('file:///caracteristiques.csv',
    {header:true, ignore:{'Num_Acc','Adresse_postale', 'Commune', 'Conditions_atmosphériques', 'Département', 'Intersection', 'Jour', 'Localisation', 'Long', 'Lumière', 'an'	, 'hrmn', 'lat', 'mois', 'Type_de_collision'}},
    mapping:{'Num_Acc:Num_Acc,Adresse_postale:adr,Commune:com,Conditions_atmosphériques:atm,Département:dep,Intersection:int,Jour:jour,Localisation:agg,Long:long,Lumière:lum,an:an,hrmn:hrmn,lat:lat,mois:mois,Type_de_collision:col'}) yield  map 
RETURN *;

In [ ]:
"Num_Acc","Jour","mois","an","hrmn","lum","dep","com","agg","int","atm","col","adr","lat","long"

In [ ]:
"Num_Accne","Jour","Mois","An","Heure","Lumière","Département","Commune","Localisation","Intersection","Conditions_atmosphériques","Type_de_collision","Adresse_postale","Latitude","Longitude"

In [ ]:
LOAD CSV WITH HEADERS FROM 'file:///caracteristiques.csv' AS line
WITH line 
WHERE line.Num_Acc IS NOT NULL
CREATE (ac:Accident {Num_Acc: line.Num_Acc}) 
 RETURN count(line)

In [ ]:
LOAD CSV WITH HEADERS FROM 'file:///caracteristiques.csv' AS line 
WITH line WHERE line.Num_Acc IS NOT NULL
CREATE (ac:Accident {
Num_Acc: line.Num_Acc,
Jour: line.Jour,
Mois: line.Mois,
An: line.An,
Heure: line.Heure,
Lumière: line.Lumière,
Département: line.Département,
Commune: line.Commune,
Localisation: line.Localisation,
Intersection: line.Intersection,
Conditions_atmosphériques: line.Conditions_atmosphériques,
Type_de_collision: line.Type_de_collision,
Adresse_postale: line.Adresse_postale,
Latitude: line.Latitude,
Longitude: line.Longitude
 })
 
 RETURN count(*)

In [ ]:
LOAD CSV WITH HEADERS FROM 'file:///caracteristiques.csv' AS line FIELDTERMINATOR ','
WITH line 
WHERE line.Num_Acc IS NOT NULL
MERGE (ac:Accident {Num_Acc: line.Num_Acc,
 Adresse_postale: line.adr,
 Commune: line.com,
 Conditions_atmosphériques: line.atm,
 Département: line.dep,
 Intersection: line.int,
 Jour: line.jour,
 Localisation: line.agg,
 Long: line.long,
 Lumière: line.lum,
 an: line.an,
 hrmn: line.hrmn,
 lat: line.lat,
 mois: line.mois,
 Type_de_collision: line.col})
 
 RETURN count(*)

In [ ]:
CALL apoc.load.csv('file:///caracteristiques.csv',{FIELDTERMINATOR :',',
    headers: true})
    yield map as line
WITH line 
WHERE line.Num_Acc IS NOT NULL
MERGE (ac:Accident {Num_Acc: line.Num_Acc,
 Adresse_postale	: line.adr,
 Commune	: line.com,
 Conditions_atmosphériques	: line.atm,
 Département	: line.dep,
 Intersection	: line.int,
 Jour: line.jour,
 Localisation	: line.agg,
 Long	: line.long,
 Lumière	: line.lum,
 an	: line.an,
 hrmn: line.hrmn,
 lat	: line.lat,
 mois: line.mois,
 Type_de_collision: line.col})
 ON CREATE SET ac.Num_Acc = toInteger(line.Num_Acc)
 RETURN count(*)

In [ ]:
create keyspace ai with replication={'class':'SimpleStrategy' 'replication_factor':1} AND durable_writes=true;

Create table employee_by_car_make(car_make text id int car_model text Primary key(car_makeid));
Create table employee_by_car_make_sorted(car_make text age int id int car_model text Primary key (car_makeageid));
create TABLE ai.employee_by_car_make_and_model (car_make text car_model text id int name text PRIMARY KEY (car_make car_model id));

insert into 

create TABLE employee_by_id (id int name text position text  PRIMARY KEY (id));

insert into employee_by_id (id, name, position) values (1,'omar','lecturer');

insert into employee_by_id (id, name, position) values (1,'omar','student');

insert into employee_by_id (id, name, position) values (2,'omar','student');
select * from employee_by_id where id=1;
select * from employee_by_car_make where car_make='BMW' order by id;



select car_make writetime(car_model) from employee_by_car_make;
update employee_by_car_make set car_model='TRUCK' where car_make='BMW' AND id=1;
update employee_by_car_make using TTL 60 set car_model='citadine' where car_make='BMW' and id=1;


ALTER TABLE employee_by_id ADD phone SET<text>;

UPDATE employee_by_id SET phone={'341''345'} WHERE id=1;

UPDATE employee_by_id SET phone=phone+{'555'} WHERE id=1;

SELECT * FROM employee_by_id WHERE name='john' ALLOW FILTERING;

CREATE INDEX ON employee_by_id (name);



Create table employee_by_uuid(id uuid primary key, first_name text, last_name text );
Insert into employee_by_uuid(id,first_name,last_name) values (uuid(),'simon','dupont');
Create table employee_by_timeuuid(id timeuuid primary key,first_name text,last_name VARCHAR);
Insert into employee_by_timeuuid(id,first_name,last_name) values (now(),'simon', 'dupont');

In [ ]:
pip install cassandra-driver

In [ ]:
CREATE table table_voiture_proprietaire(marque text, type_voiture text, annee_achat int, id_proprietaire int, type_util text, nom text, prenom text, PRIMARY KEY (annee_achat, id_proprietaire)); 

https://drive.google.com/file/d/FILE_ID/view?usp=sharing
wget https://drive.google.com/uc?id=FILE_ID -O file.csv

https://docs.google.com/spreadsheets/d/1CSg_vpZv5dvvN_RFN-x6VQpPP3KQX-0Zuay2bXYJVrI/edit?usp=sharing
wget https://docs.google.com/uc?id=1CSg_vpZv5dvvN_RFN-x6VQpPP3KQX-0Zuay2bXYJVrI -O export_cass.csv
https://docs.google.com/spreadsheets/d/1CSg_vpZv5dvvN_RFN-x6VQpPP3KQX-0Zuay2bXYJVrI/edit?usp=share_link

https://docs.google.com/spreadsheets/d/1CSg_vpZv5dvvN_RFN-x6VQpPP3KQX-0Zuay2bXYJVrI/edit?usp=sharing
https://docs.google.com/spreadsheets/d/1CSg_vpZv5dvvN_RFN-x6VQpPP3KQX-0Zuay2bXYJVrI/edit?usp=share_link

wget https://drive.google.com/uc?id=1mm_rWOjH-KUhG7GwwMJHho_Al66RDsI0 -O export_cass.csv

wget https://drive.google.com/uc?id=1NoCgAIIySpYK0GjREiwql8iYEzfFIwFB -O populate.txt

wget https://drive.google.com/uc?id=1-hSYlhpLcQT5ThJ3RgjpIAsZK40pPaq4 -O kmeans-decentralise.ipynb
wget https://drive.google.com/uc?id=1GBFWQW0yQoFsJAOk_Bj95Rn2t-lyGOSt -O kmeans-decentralise.py
https://drive.google.com/file/d/1GBFWQW0yQoFsJAOk_Bj95Rn2t-lyGOSt/view?usp=sharing

COPY table_voiture_proprietaire (marque, type_voiture, annee_achat, id_proprietaire, type_util, nom, prenom) FROM 'export_cass.csv' WITH DELIMITER = ',';
'BMW', 'TRUCK',2019,1,'cs','omar','jaafor'

In [ ]:
create 'students', 'account', 'address'
create 'clicks', 'clickinfo', 'iteminfo'

Le filtre FirstKeyOnlyFilter() ne retourne que la première clé de chaque ligne de la table, et ignore les colonnes et les valeurs de cette ligne. 
Cela peut être utile lorsqu'il est nécessaire de parcourir rapidement une grande table en ne récupérant que le minimum de données nécessaire.

Le filtre KeyOnlyFilter() est similaire au filtre FirstKeyOnlyFilter(), mais il retourne la clé de chaque ligne de la table au lieu de seulement la première clé.

Le filtre {COLUMNS=>"account:name",limit:3,FILTER=>"ValueFilter(=,'binary:Bob')"} effectuera un balayage de la table en ne récupérant que la colonne name de la famille de colonnes account, 
en ne retournant que les 3 premières lignes de la table qui ont une valeur de Bob dans la colonne name.

Le filtre PrefixFilter retourne les lignes qui ont une clé qui commence par le préfixe spécifié. Dans ce cas, le filtre PrefixFilter('s') retournera les lignes qui ont une clé qui commence par la lettre 's'. Utile lorsqu'il est nécessaire de récupérer rapidement un groupe de lignes qui ont des clés qui partagent un préfixe commun.

Le filtre PrefixFilter('s') AND ColumnPrefixFilter('na') combinera deux filtres en utilisant l'opérateur logique AND. Le premier filtre, PrefixFilter('s'), 
retournera les lignes qui ont une clé qui commence par le préfixe 's'. Le deuxième filtre, ColumnPrefixFilter('na'), retournera les colonnes qui ont un nom de colonne qui commence par le préfixe 'na'. Les lignes retournées par la numérisation auront une clé qui commence par 's' et incluront uniquement les colonnes qui ont un nom de colonne qui commence par 'na'.

Le filtre PrefixFilter('s') AND MultipleColumnPrefixFilter('s','name') combinera deux filtres en utilisant l'opérateur logique AND. Le premier filtre, PrefixFilter('s'), 
retournera les lignes qui ont une clé qui commence par le préfixe 's'. Le deuxième filtre, MultipleColumnPrefixFilter('s','name'), retournera les colonnes qui ont un nom de colonne qui commence par l'un des préfixes spécifiés, dans ce cas 's' ou 'name'. Les lignes retournées par la numérisation auront une clé qui commence par 's' et incluront uniquement les colonnes qui ont un nom de colonne qui commence par 's' ou 'name'.

Le filtre ColumnCountGetFilter retourne un nombre maximum de colonnes spécifiées pour chaque ligne. Dans ce cas, le filtre ColumnCountGetFilter(2) retournera au maximum 2 colonnes pour chaque ligne de la table. 

Le filtre PageFilter retourne un nombre spécifié de lignes sous forme de pages. Dans ce cas, le filtre PageFilter(1) retournera une page de lignes.

In [ ]:
insert into ai.employee_by_car_make_and_model (car_make, car_model, id, name) values ('BMW','TRUCK',1,'bbmw');
insert into ai.employee_by_car_make_and_model (car_make, car_model, id, name) values ('Audi','mini',2,'baudi');
insert into ai.employee_by_car_make_and_model (car_make, car_model, id, name) values ('Mercedes','berline',3,'bmercedes');


Create table purchases_by_customer_id(id uuid primary key, purchases counter);
Update purchases_by_customer_id set purchases=purchases+1 where id=uuid();

In [ ]:
Table must exist
Primary keys exist and unique in csv
Columns in table but not in csv set to null
Create table test_csv(….)
Copy test_csv (columns) from ‘file path’ with delimiter=’,’
and header==True
Copy test_csv to ‘destination’ with delimiter==’,’
Copy test_csv(columns) to ‘destination’ with delimiter=’,’

In [14]:
from scipy.sparse import csr_matrix
import numpy as np
import pandas as pd
import time

def load_sparse_csr(filename):
    loader = np.load(filename)
    return csr_matrix((  loader.'data', loader.'indices', loader.'indptr',)
                         shape = loader.'shape',)
def save_sparse_csr(filenamearray):
    np.savez(filenamedata = array.data indices=array.indices
             indptr =array.indptr shape=array.shape )

def to_sparse(graph weight_attr=None):
    edges = graph.get_edgelist()
    if weight_attr is None:
        weights = .1, * len(edges)
    else:
        weights = graph.es.weight_attr,
    if not graph.is_directed():
        edges.extend(.(v u) for u v in edges,)
        weights.extend(weights)
    return sparse.csr_matrix((weights zip(*edges)))

In [2]:

df = pd.read_csv('tweets.csv'encoding='cp1252')

In [3]:
df.head()

,Unnamed: 0,text,favorited,favoriteCount,replyToSN,created,truncated,replyToSID,id,replyToUID,statusSource,screenName,retweetCount,isRetweet,retweeted,longitude,latitude
0,1,RT @mrvelstan: literally nobody:\r\nme:\r\n\r\...,False,0,NaN,2019-04-23 10:43:30,False,NaN,1120639328034676737,NaN,"<a href=""http://twitter.com/download/android"" ...",DavidAc96,637,True,False,NaN,NaN
1,2,"RT @agntecarter: i’m emotional, sorry!!\r\n\r\...",False,0,NaN,2019-04-23 10:43:30,False,NaN,1120639325199196160,NaN,"<a href=""http://twitter.com/download/iphone"" r...",NRmalaa,302,True,False,NaN,NaN
2,3,saving these bingo cards for tomorrow \r\n©\r\...,False,0,NaN,2019-04-23 10:43:30,False,NaN,1120639324683292674,NaN,"<a href=""http://twitter.com/download/iphone"" r...",jijitsuu,0,False,False,NaN,NaN
3,4,RT @HelloBoon: Man these #AvengersEndgame ads ...,False,0,NaN,2019-04-23 10:43:29,False,NaN,1120639323328540672,NaN,"<a href=""http://twitter.com/download/iphone"" r...",SahapunB,23781,True,False,NaN,NaN
4,5,"RT @Marvel: We salute you, @ChrisEvans! #Capta...",False,0,NaN,2019-04-23 10:43:29,False,NaN,1120639321571074048,NaN,"<a href=""http://twitter.com/download/iphone"" r...",stella22_97,13067,True,False,NaN,NaN

In [7]:
input_=np.empty(.03,)
word_dic={}
i=0
j=0
for r in df.'text',:
    toks=r.split()
    for word in toks:
        if word not in word_dic:
            word_dic.word, = j
            j+=1
        try:
            input_.i0,=i
            input_.i1,=word_dic.word,
            input_.i1,=1
        except:
            input_=np.concatenate((input_np.empty(.10003,)))
            input_.i0,=i
            input_.i1,=word_dic.word,
            input_.i1,=1
    i+=1  
            
input_=input_.0:i:,

In [8]:
input_

array([[0.00000000e+000, 1.00000000e+000, 4.68045793e-310],
       [1.00000000e+000, 1.00000000e+000, 0.00000000e+000],
       [2.00000000e+000, 1.00000000e+000, 0.00000000e+000],
       ...,
       [1.49970000e+004, 1.00000000e+000, 1.17528336e-319],
       [1.49980000e+004, 1.00000000e+000, 4.94065646e-324],
       [1.49990000e+004, 1.00000000e+000, 1.17528336e-319]])

In [9]:
from scipy import sparse
rcd  = input_.T
r=np.array(rdtype=int)
c=np.array(cdtype=int)
setg={}
X_rep   = sparse.coo_matrix((d (r c)))
X_rep=X_rep.tocsr()

In [ ]:
X_rep=X_rep.0:max(X_rep.shape)0:max(X_rep.shape),

In [19]:
import time
X_rep=X_rep.tocsr()
x = time.time()

for i in range(1000):
    X_rep**130
y=time.time()
print(y - x)

49.42899227142334

In [20]:
import time
X_rep=X_rep.tocsc()
x = time.time()
for i in range(1000):
    X_rep**130
y=time.time()
print(y - x)

22.32164454460144